<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HospLine | Queue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/queue-style.css' ) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
      <ul>
        <svg
          id="logo-14"
          width="73"
          height="49"
          viewBox="0 0 73 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M46.8676 24C46.8676 36.4264 36.794 46.5 24.3676 46.5C11.9413 46.5 1.86765 36.4264 1.86765 24C1.86765 11.5736 11.9413 1.5 24.3676 1.5C36.794 1.5 46.8676 11.5736 46.8676 24Z"
            class="ccustom"
            fill="#68DBFF"
          ></path>
          <path
            d="M71.1324 24C71.1324 36.4264 61.1574 46.5 48.8529 46.5C36.5484 46.5 26.5735 36.4264 26.5735 24C26.5735 11.5736 36.5484 1.5 48.8529 1.5C61.1574 1.5 71.1324 11.5736 71.1324 24Z"
            class="ccompli1"
            fill="#FF7917"
          ></path>
          <path
            d="M36.6705 42.8416C42.8109 38.8239 46.8676 31.8858 46.8676 24C46.8676 16.1144 42.8109 9.17614 36.6705 5.15854C30.5904 9.17614 26.5735 16.1144 26.5735 24C26.5735 31.8858 30.5904 38.8239 36.6705 42.8416Z"
            class="ccompli2"
            fill="#5D2C02"
          ></path>
        </svg>
        <li><a href="/">Home</a></li>
        <li>
          <a href="https://github.com/mdarshad1000/Hosp-Line/" target="_blank">Github Repo</a>
        </li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="queue-div">
      <div class="queue-name-div">
        <h1>Hey {{name}}!</h1><br><br>
        <h3>Thank you for waiting in HospLine!</h3>
        <a href="/queue">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 30 30"
          >
            <path
              d="M 15 3 C 12.031398 3 9.3028202 4.0834384 7.2070312 5.875 A 1.0001 1.0001 0 1 0 8.5058594 7.3945312 C 10.25407 5.9000929 12.516602 5 15 5 C 20.19656 5 24.450989 8.9379267 24.951172 14 L 22 14 L 26 20 L 30 14 L 26.949219 14 C 26.437925 7.8516588 21.277839 3 15 3 z M 4 10 L 0 16 L 3.0507812 16 C 3.562075 22.148341 8.7221607 27 15 27 C 17.968602 27 20.69718 25.916562 22.792969 24.125 A 1.0001 1.0001 0 1 0 21.494141 22.605469 C 19.74593 24.099907 17.483398 25 15 25 C 9.80344 25 5.5490109 21.062074 5.0488281 16 L 8 16 L 4 10 z"
            ></path>
          </svg>
        </a>
      </div>
      
      <div class="queue-info-div">
        <p>Your HospLine ID: <h1>{{spot}}</h1> </p>
      <p>
        {% if total_infront == 0 %} Your turn is up, you can go inside! {% else
        %} There are {{ total_infront }} patients ahead of you, Wait for a while
      </p>
      {% endif %}

      <h4>Have a nice day!</h4>
      </div>

      <a href="/leave"><button id="submit" type="submit">Leave</button></a>
    </div>
</body>

</html>
